
<h2>Welcome to the Patient Management System!</h2>

    <div class="container mt-4">

        <div class="row text-white">

            <div class="col rounded mr-2 ml-2 " style="background-color: #27C24C; cursor: pointer;"
                routerLink="patient-details">
                <div class="row" style="border-radius: 10px; height:80px;">
                    <div class="col-4 text-center rounded-left" style="background-color: #1E983B;">
                      <i class="fas fa-info-circle fa-3x mt-2"></i>
                    </div>
                    <div class="col">
                        <span>Patient Details</span>
                    </div>
                </div>
            </div>

            <div class="col rounded mr-2 ml-2" style="background-color: #EC2121; cursor: pointer;"
                routerLink="patient-form">
                <div class="row" style="border-radius: 10px; height:80px;">
                    <div class="col-4 text-center rounded-left" style="background-color: #F05050;">
                      <i class="fas fa-user-plus fa-3x mt-2"></i>
                    </div>
                    <div class="col">
                        <div>Add a New Patient</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



